/* Custom styles for the bibliography site */

:root {
    --primary-color: #6e7e8a;
    /* Blue-green from the staircase */
    --primary-light: #9caab5;
    /* Lighter version of the blue-green */
    --primary-dark: #49565e;
    /* Darker version of the blue-green */
    --accent-color: #d8a15e;
    /* Golden hue */
    --text-light: #ffffff;
    /* White text */
    --text-dark: #4a4a4a;
    /* Dark grey text */
    --background-light: #eae0c8;
    /* Light cream from the wall */
    --h2-shade: #1f2020;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-dark);
    background-color: var(--background-light);
    /* Light cream background */
}

.wallpaper {
    background-color: var(--primary-dark);
    /* Fallback color */
    background-image: url('../assets/wallpaper6.jpg');
    /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    filter: invert(1) sepia(1) saturate(5) hue-rotate(0deg);
}


.navbar {
    background-color: var(--primary-dark) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: var(--text-light) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

.container {
    background-color: rgba(234, 224, 200, 0.983);
    /* Semi-transparent light cream background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    transition: transform 0.3s ease-in-out;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-light);
}

.btn-primary:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.position {
    border-left: 4px solid var(--primary-color);
    padding-left: 20px;
}

.position h2 {
    color: var(--h2-shade);
}

.position h3 {
    color: var(--h2-shade);
}

.text-muted {
    font-style: italic;
    color: var(--h2-shade);
}
